<div class="card border-primary">
    <div class="card-header">
        <h3>Nuevo Cliente</h3>
    </div>
    <div class="card-body">
        <%= render 'form', cliente: @cliente %>
    </div>
    <div class="card-footer">
    
    </div>
</div>
