<div class="card border-primary">
    <div class="card-header">
        <h3>Editando Stock</h3>    
    </div>
    <div class="card-body">
        <%= render 'form', stock: @stock %>    
    </div>    
</div>
