<div class="card border-primary">
    <div class="card-header">
        <h3>Nuevo Stock para Producto</h1>    
    </div>
    <div class="card-body">
        <%= render 'form', stock: @stock %>    
    </div>
</div>



