<div class="card border-primary">
    <div class="card-header">
        <h3>Editando Producto</h1>    
    </div>
    <div class="card-body">
        <%= render 'form', producto: @producto %>
    </div>
</div>

